<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Servicios</title>
</head>

<body>
    <header>
        <h3>Diseño<strong>Multimedia</strong></h3>
       <nav>
        <ul>
            <li>
             <a href="../index.html">INICIO</a></li>
            <li>
                <a href="../templates/nosotros.html">NOSOTROS</a></li>
            <li>
                <a href="../templates/servicios.html">SERVICIOS</a></li>
            <li>
                <a href="">CONTACTO</a></li>             

        </ul>
    </nav>
</header>

<div class="line">
</div>
    
<div>
<nav class="menu">
    <p>suscribete a nuestro boletin</p>
    <input type="text" placeholder="ingrese el gmail">    
    <button>suscribete</button>
</nav>


<main>
        <section class="contactos">
            <h2>Contacto</h2>
            <div class="formulario">
                <form>
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Ingresa tu nombre">

                    <label for="">Email</label>
                    <input type="email" placeholder="Ingresa tu email">

                    <label for="">Telefono</label>
                    <input type="text" placeholder="Ingresa tu Teléfono">
                
                    <label for="">Celular</label>
                    <input type="text" placeholder="Ingresa tu Celular">
                    <label for="">Mensaje</label>
                    <textarea name="" id=""></textarea>
                    <div class="boton">Enviar</div>
                    
                </form>
            </div>    
        </section>
        
        
        <div>
            <div class="pepita">
                <h2>Que hacemos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque adipisci recusandae molestiae, qLorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem sed a saepe itaque atque
                    amet rem eligendi soluta, molestias quisquam quibusdam, labore velit. Praesentium perferendis</p>
                 
                </p>
            
            </div>
            <img src="../assets/mapaGoogle.png" alt="mapa">
        </div>
    
    </main>
    

 

    <footer>Graphel Desarrollo Web,Copyright©2017</footer>
</body>
</html>