<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Nosotros</title>
</head>

<body>
    <header>
        <h3>Diseño<strong>Multimedia</strong></h3>
       <nav>
        <ul>
            <li>
             <a href="../index.html">INICIO</a></li>
            <li>
                <a href="">NOSOTROS</a></li>
            <li>
                <a href="./servicios.html">SERVICIOS</a></li>
            <li>
                <a href="">CONTACTO</a></li>             

        </ul>
    </nav>
</header>

<div class="line">
</div>

<div>
<nav class="menu">
    <p>suscribete a nuestro boletin</p>
    <input type="text" placeholder="ingrese el gmail">    
    <button>suscribete</button>
</nav>
</div>

    <main>


        <section class="vale">
            <h2>Nosotros</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem sed a saepe itaque atque
             amet rem eligendi soluta, molestias quisquam quibusdam, labore velit. Praesentium perferendis
              fuga nostrum maxime numquam distinctio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat aspernatur placeat enim temporibus, sequi est obcaecati sit beatae nulla natus
              repudiandae mollitia, nobis explicabo reiciendis. Aut commodi aperiam quasi quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolore necessitatibus nemo, error vero, architecto omnis voluptas temporibus dicta amet fugit saepe aperiam! </p>
            
              <div class="pepa">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque adipisci recusandae molestiae, qLorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem sed a saepe itaque atque
                    amet rem eligendi soluta, molestias quisquam quibusdam, labore velit. Praesentium perferendis
                     fuga nostrum maxime numquam distinctio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat aspernatur placeat enim temporibus, sequi est obcaecati sit beatae nulla natus
                      repudiandae mollitia, nobis explicabo reiciendis. Aut commodi aperiam quasi quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolore necessitatibus nemo, error vero, architecto omnis voluptas temporibus dicta amet fugit saepe aperiam!uaerat, nihil magnam natus dolores perferendis nemo beatae libero dolor labore dicta velit deserunt sunt ratione molestias!
    
                </p>
            </div>

            <img src="../assets/891.jpg" class="">
        </section>
        <div>
        <div class="pepita">
            <h2>Que hacemos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque adipisci recusandae molestiae, qLorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem sed a saepe itaque atque
                amet rem eligendi soluta, molestias quisquam quibusdam, labore velit. Praesentium perferendis</p>
        
        </div>
    </div>
    </main>

</body>

<footer>Graphef desarrollo web,Copyright 2017</footer>
</html>